<!DOCTYPE html>
<html>
  <head>
    <title>Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <section class="content">
      <%= render 'layouts/navigation' %>

    <main class="<%= controller.controller_name %>">
      <%= yield %>
    </main>
    </section
  </body>
</html>
